a {
  font: normal 16px "Microsoft Yahei";
  color: white;
  text-decoration: none;
  display: inline-block;
  width: 120px;
  height: 58px;
  line-height: 48px;
  text-align: center;
  background-repeat: no-repeat;
  background-image: url(../images/bg1.png);
}

a:hover {
  background-image: url(../images/bg2.png);
}
