/* CSS 层叠样式表 Cascading Style Sheet, 级联样式表
CSS 是一种标记语言
    页面文本内容字体, 大小, 对齐方式的调整
    图片的外形, 宽, 高, 边距, 边距样式
    版面的布局
    外观显示样式
使得HTML结构和CSS样式相分离
一般写在header的style标签里面 */

/* CSS的作用域, 非常重要!!!

样式优先级(内联样式的优先级最高)
1. 浏览器缺省设置---没有任何CSS的时候
2. 外部样式表---通过引用外部CSS样式文件加载CSS样式, CSS文件内没有style标签直接写CSS
    通过link标签<link rel="stylesheet" href="style.css">引入到html当中
3. 内部样式表（位于head 标签内部）---同一个html文件内, style标签内的加载的CSS
4. 内联样式（在 HTML 元素内部）---在某个元素内, 通过style属性加载的CSS样式

重复调用的时候(权重越大, 优先级越高)

1. 内联样式表的权值最高 1000
2. id 选择器的权值为 100
3. Class 类选择器的权值为 10
4. HTML 标签选择器的权值为 1 */

/* p是选择器指定了对p标签进行修饰 */
/* 花括号内是样式声明, 用:分离key和value, 用分号隔开不同的样式表达 */
p {
  color: rgba(169, 45, 207, 0.795);
  font-size: larger;
}
/* 选择器分成两类, 基础选择器和复合选择器
        基础选择器
            标签选择器
            类选择器
            id选择器
            通配符选择器
        复合选择器 */
/* 标签选择器, 下列是p标签的选择器, 把某一类标签全部选择出来, 快速为页面中同类型的标签统一设置样式*/
p {
  color: rgba(169, 45, 207, 0.795);
  font-size: larger;
}
/* 类选择器, 样式点定义, 结构class调用, 一个或多个 开发最常用 */
/* 调用这个red的class都会调用到这个css样式 */
/* 实际开发中, 最佳实践是将相同的样式放在一个样式盒里面,方便统一修改 */
.red {
  color: red;
}
.purple {
  color: purple;
}
.font_10 {
  font-size: 10px;
}
/* id选择器, 用标签内的id来定位, 以#开头, id调用在每个html中只能出现一次, 别人不能使用 */
#id_locator {
  color: royalblue;
}
/* 通配符选择器, 选取页面中所有元素标签, *即可 通配符有特殊用法 */
/* * {
        font-size: 10px;
    } */

/* 通常字体统一, 可以在body标签配置 */
body {
  /* font-family定义文字的字体系列, 字体之间用逗号隔开, 字体中间有空格用''引用起来, 可以多写几个便于兼容 */
  font-family: "Microsoft Yahei", Arial;
  /* font-size定义字体的大小, px为像素单位 */
  /* 标题标签比较特殊, 需要单独设置文字大小 */
  font-size: 16px;
  /* font-weight定义文字的粗细, 通常用100~900表示 */
  font-weight: 100;
  /* font-style定义字体样式, 通常让倾斜的字体变不倾斜 italic表示倾斜 */
  font-style: normal;
}

/* font的复合属性必须按照这个顺序写, 中间要用空格隔开, 不能颠倒顺序 */
/* font: font-style font-weight font-size/line-height font-family */
.fuhe_font {
  /* font-style: normal;
        font-weight: 100;
        font-size: 16px; 
        font-family: 'Microsoft Yahei', Arial;  */
  font: normal 100 16px/20px "Microsoft Yahei", Arial;
  /* 两种写法是等价的 */

  /* size和family是必须要有的属性, 其他可以不写 */
  font: 16px "Microsoft Yahei", Arial;
}
/* text 文本类样式标签 */
.text_css {
  /* text-align 文本对齐方式的CSS, 默认值left, 枚举值, left,center,right */
  text-align: center;
  /* text-decoration 添加文本装饰, 默认值是none(用于去掉超链接的下划线), 下划线(underline),上划线(overline), 删除线(line-through) */
  text-decoration: underline;
  /* text-indent 文本段落首行缩进, em是相对单位, 1em相当于1个文字大小, 如果没有设置, 会参照父元素的1个文字大小 */
  text-indent: 2em;
  /* line-height 文本行间距, 行间距=文本高度+上间距+下间距 */
  line-height: 3em;
}
