/* CSS 层叠样式表 Cascading Style Sheet, 级联样式表
CSS 是一种标记语言
    页面文本内容字体, 大小, 对齐方式的调整
    图片的外形, 宽, 高, 边距, 边距样式
    版面的布局
    外观显示样式
使得HTML结构和CSS样式相分离
一般写在header的style标签里面 */

/* CSS的作用域, 非常重要!!!

样式优先级(内联样式的优先级最高)
1. 浏览器缺省设置---没有任何CSS的时候
2. 外部样式表---通过引用外部CSS样式文件加载CSS样式, CSS文件内没有style标签直接写CSS
    通过link标签<link rel="stylesheet" href="style.css">引入到html当中
3. 内部样式表（位于head 标签内部）---同一个html文件内, style标签内的加载的CSS
4. 内联样式（在 HTML 元素内部）---在某个元素内, 通过style属性加载的CSS样式

重复调用CSS样式修饰标签的时候(权重越大, 优先级越高)

1. 内联样式表的权值最高 1000
2. id 选择器的权值为 100
3. Class 类选择器的权值为 10
4. HTML 标签选择器的权值为 1 */

/* p是选择器指定了对p标签进行修饰 */
/* 花括号内是样式声明, 用:分离key和value, 用分号隔开不同的样式表达 */
p {
  color: rgba(169, 45, 207, 0.795);
  font-size: larger;
}
/* 选择器分成两类, 基础选择器和复合选择器
        基础选择器
            标签选择器
            类选择器
            id选择器
            通配符选择器
        复合选择器 */
/* 标签选择器, 下列是p标签的选择器, 把某一类标签全部选择出来, 快速为页面中同类型的标签统一设置样式*/
p {
  color: rgba(169, 45, 207, 0.795);
  font-size: larger;
}
/* 类选择器, 样式点定义, 结构class调用, 一个或多个 开发最常用 */
/* 调用这个red的class都会调用到这个css样式 */
/* 实际开发中, 最佳实践是将相同的样式放在一个样式盒里面,方便统一修改 */
.red {
  color: red;
}
.purple {
  color: purple;
}
.font_10 {
  font-size: 10px;
}
/* id选择器, 用标签内的id来定位, 以#开头, id调用在每个html中只能出现一次, 别人不能使用 */
#id_locator {
  color: royalblue;
}
/* 通配符选择器, 选取页面中所有元素标签, *即可 通配符有特殊用法 */
/* * {
        font-size: 10px;
    } */

/* 通常字体统一, 可以在body标签配置 */
body {
  /* font-family定义文字的字体系列, 字体之间用逗号隔开, 字体中间有空格用''引用起来, 可以多写几个便于兼容 */
  font-family: "Microsoft Yahei", Arial;
  /* font-size定义字体的大小, px为像素单位 */
  /* 标题标签比较特殊, 需要单独设置文字大小 */
  font-size: 16px;
  /* font-weight定义文字的粗细, 通常用100~900表示 */
  font-weight: 100;
  /* font-style定义字体样式, 通常让倾斜的字体变不倾斜 italic表示倾斜 */
  font-style: normal;
}

/* font的复合属性必须按照这个顺序写, 中间要用空格隔开, 不能颠倒顺序 */
/* font: font-style font-weight font-size/line-height font-family */
.fuhe_font {
  /* font-style: normal;
        font-weight: 100;
        font-size: 16px; 
        font-family: 'Microsoft Yahei', Arial;  */
  font: normal 100 16px/20px "Microsoft Yahei", Arial;
  /* 两种写法是等价的 */

  /* size和family是必须要有的属性, 其他可以不写 */
  font: 16px "Microsoft Yahei", Arial;
}
/* text 文本类样式标签 */
.text_css {
  /* text-align 文本对齐方式的CSS, 默认值left, 枚举值, left,center,right */
  text-align: center;
  /* text-decoration 添加文本装饰, 默认值是none(用于去掉超链接的下划线), 下划线(underline),上划线(overline), 删除线(line-through) */
  text-decoration: underline;
  /* text-indent 文本段落首行缩进, em是相对单位, 1em相当于1个文字大小, 如果没有设置, 会参照父元素的1个文字大小 */
  text-indent: 2em;
  /* line-height 文本行间距, 行间距=文本高度+上间距+下间距 */
  line-height: 3em;
}
/* 复合选择器分为四类
      后代选择器
      子选择器
      并集选择器
      伪类选择器 */

/* 后代选择器---包含选择器, 可以选择父元素里面子元素
               把外层标签写在前面, 内标签写在后面, 中间用空格分隔
               标签产生嵌套的时候, 内标签就是外标签的后代 */
/* 语法格式 元素1 元素2 {样式}
    元素1和元素2中间用空格隔开
    可以嵌套多层*/

ol li {
  /* ol标签内的li标签字体设置成红色 */
  color: red;
}

/* 后代选择器的元素1元素2可以是任意基础选择器元素 */
.nav li a {
  /* nav类中的li中的所有a标签 */
  color: green;
}

/* 子选择器---选择层级高的子元素, 孙元素不选择 */
/* 语法格式 元素1>元素2 {样式}
    元素1和元素2中间用>隔开
    可以嵌套多层*/
.nav > li > a {
  /* nav类中的li中的第一个a标签, 而不是所有的a标签 */
  color: blue;
}

/* 并集选择器---可以选择多组标签, 同时为这多组元素定义样式 
               通常用于集体声明 */
/* 并集选择器元素选择之间用逗号隔开, 任何形式选择器都可以作为元素 */
.font_10,
.nav li a {
  /* font_10类和nav类下的所有li下的所有a标签都变成粉色字体 */
  color: pink;
}

/* 伪类选择器---对某些选择器添加特殊效果, 有许多种类型, 就像是给元素增加了在不同场景下的状态样式 */
/* 链接伪类选择器
  必须根据LVHA顺序进行书写才能确保生效, link visited hover active
  记忆法: Love Hate或者LV包包hao
  实际工作中需要对a标签单独指定样式, 常用设置是hover
*/
a:link {
  /* a:link 选择所有未被方为访问的链接 */
  color: #333;
  text-decoration: none;
}
a:visited {
  /* a:visited 选择所有已被访问的链接 */
  color: orange;
}
a:hover {
  /* a:hover 选择鼠标指针位于其上的链接 */
  color: royalblue;
}
a:active {
  /* a:active 选择活动链接(鼠标按下未弹起的链接) */
  color: green;
}

/* focus伪类选择器, 用于选取获取焦点的表单元素, 焦点就是光标(鼠标)
focus主要针对表单元素 */
input:focus {
  background-color: yellow;
}

/* 元素(标签)显示模式: 标签有很多种,
   可以分为几个类型 显示模式就是指标签以何种方式显示 例如, div单独占一行,
   一行可以有多个span;
html元素一般分为两种类型: 块元素, 行内元素 */

/* 块元素: h1~h6 p div ul ol li, div是最典型的块元素
    块元素特点: 
    1. 自己独占一行
    2. 高度, 宽度, 外边距以及内边距都可以控制
    3. 宽度默认是容器(父级宽度)的100%
    4. 是一个容器及盒子, 里面可以放行内元素或者块元素 */
/* 块元素注意事项: 
    1. 文字类元素里面不能用块级元素
    2. p标签主要用于存放文字, 因此p内部不能放块级元素, 特别不能放div
    3. 同理h1~h6 */

/* 行内元素: a strong b em i del span是最典型的行内元素(内联元素)
    行内元素特点:
    1. 相邻元素在一行上, 一行显示多个
    2. 高, 宽直接设置是无效的
    3. 默认宽度就是它本身内容的宽度
    4. 行内元素只能容纳文本或其他行内元素 */

/* 行内块元素: img input td 同时具有块元素和行内元素的特点
    行内块元素特点:
    1. 和相邻行内元素在一行上, 但是他们之间会有空白间隙, 一行可显示多个(行元素特征)
    2. 默认宽度就是它本身内容的宽度(行元素特征)
    3. 高度, 行高, 内外边距都可以控制(块元素特征) */

/* 元素显示模式转换 */
.line_to_block {
  /* a标签的class是.line_to_block */
  width: 100px;
  height: 100px;
  background-color: burlywood;
  /* display:block,将行内元素a转换为块元素显示 */
  display: block;
  /* display: inline-block,将行内元素a转换为行内块元素显示 */
  /* display: inline-block; */
}

.block_t0_line {
  /* div标签的class是.line_to_block */
  width: 100px;
  height: 100px;
  background-color: burlywood;
  /* display:inline,将块级元素div转换为行内元素 */
  display: inline;
}

/* 文本垂直居中的技巧, 让文字的行高等于盒子的行高 */
